*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-transform: capitalize;
}
.title{
    text-transform: capitalize;
    font-size: 40px;
    color: white;
    text-shadow: 0px 5px 10px black;
}
.sec-1{
    justify-items: center;
    background:linear-gradient( to right, purple, green);
}

.flex{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

}
p{
    line-height: 30px;
}
img{
    width: 100px;
}
.card{
    padding: 50px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-color:white;
    justify-content: center;

}
.flex-top{
    display: flex;
    gap: 15px;
}
.flex-btn{
    gap: 15px;
    display: flex;
}
.card:hover{
    transform: scale(1.03);
    transition-duration: 0.4s;
}
button{
    margin-top: 10px;
    background-color: black;
    border: 1px solid ;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}
h2{
    text-transform: capitalize;
}